[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/gmajer
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gmajer
	label-Verified = -1..+1 group user/gmajer
	push = group user/gmajer
	read = group user/gmajer
	rebase = group user/gmajer
	removeReviewer = group user/gmajer
	submit = group user/gmajer
[access "refs/heads/*"]
	create = group user/gmajer
	push = +force group user/gmajer
	pushMerge = group user/gmajer
	read = group user/gmajer
[access "refs/tags/*"]
	push = group user/gmajer
	push = +force group user/gmajer
